apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: worker

spec:
    selector:
      matchLabels:
        name: worker

    template:
      metadata:
        labels:
          name: worker

      spec:
        hostNetwork: true

        containers:
        - name: worker
          image: usbipiceproject/usbipice-worker:all
          imagePullPolicy: Always

          command: [".venv/bin/uvicorn", "usbipice.worker.app:run_uvicorn", "--env-file", ".uvicorn_env_bridge", "--port", "8081", "--factory", "--host", "0.0.0.0"]

          securityContext:
            privileged: true

          volumeMounts:
            - mountPath: /dev
              name: devs

            - mountPath: /run/udev
              name: udev

          env:
            - name: USBIPICE_DATABASE
              value: {{.Values.database}}

            - name: USBIPICE_DEFAULT
              value: src/usbipice/worker/firmware/default/build/default_firmware.uf2
            - name: USBIPICE_PULSE_COUNT
              value: src/usbipice/worker/firmware/pulse_count/build/bitstream_over_usb.uf2

            - name: USBIPICE_WORKER_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

            - name: USBIPICE_WORKER_LOGS
              value: worker_log

        volumes:
          - name: devs
            hostPath:
              path: /dev

          - name: udev
            hostPath:
              path: /run/udev

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: control

spec:
  replicas: 1
  selector:
    matchLabels:
      app: control

  template:
    metadata:
      labels:
        app: control

    spec:
      nodeSelector:
        kubernetes.io/arch: amd64

      containers:
      - name: control
        image: usbipiceproject/usbipice-worker:all
        imagePullPolicy: Always

        command: [".venv/bin/uvicorn", "usbipice.control.app:run_uvicorn", "--env-file", ".uvicorn_env_bridge", "--port", "8082", "--factory", "--host", "0.0.0.0"]

        ports:
        - containerPort: 8082

        env:
          - name: USBIPICE_DATABASE
            value: {{.Values.database}}

---

apiVersion: v1
kind: Service
metadata:
  name: control
  labels:
    app: control

spec:
  type: NodePort

  selector:
    app: control

  ports:
    - port: 8080
      targetPort: 8082
